* {
  margin: 0;
  padding: 0;
}

body{
  background: rgb(196, 196, 196);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.card{
  background: #fff;
  display: grid;
  grid-template-rows: auto auto;
  max-width: 650px;
}

.logo {
  background: rgb(135, 27, 185);
  height: 230px;
  padding:40px;
}

.informacao{
  display: flex;
  flex-direction: column;
  padding:20px;
  height: 500px;
}

.quadrado {
  background: rgb(226, 222, 222);
  text-align: center;
  align-self: center;
  height: 180px;
  width: 300px;
  margin-top: 20px;
}

img {
  height: 40px;
}

.text{
  font-family: Arial;
}

.text-white {
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  font-family: Arial;
  margin-top: 100px;
}

.text-purple {
  color: rgb(135, 27, 185);
  font-family: Arial;
}

.goiania{
  padding: 5px;
}

p{
  margin-top: 20px;
}
